<div class="calendar">
    <div class="month">
        <ul>
            <li id="prev">&#10094;</li>
            <li id="next">&#10095;</li>

            <li>
                <h2 class="monthName"></h2>
                <span class="year"></span>
            </li>
        </ul>
    </div>

    <div class="days">
        <li>Lun</li>
        <li>Mar</li>
        <li>Mie</li>
        <li>Jue</li>
        <li>Vie</li>
        <li>Sab</li>
        <li>Dom</li>
    </div>

    <div class="dates">
        
    </div>

</div>
