<div class="container">
    <div class="card mt-4">
        <div class="card-header bg-primary text-light">
            <h3>Crear nueva tutoria</h3>
        </div>
        <div class="card-body">
            <form action="/tutorships" method="post">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <div class="form-group row">
                    <label for="title" class="col-md-4 text-right"><%= __('Subject') %></label>
                    <select name="subject" id="subject" class="form-control col-6">
                        <% for(subject of subjects){ %>
                            <option value="<%= subject.id %>"><%= subject.title %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group row horary" data-number="0">
                    <input type="number" name="horary[0][max]" min='1' value="1" class="form-control col max">
                    <input type="date" name="horary[0][date]" required class="date form-control col">
                    <input type="time" name="horary[0][time]" required class="time form-control col">
                    <input type="text" name="horary[0][place]" value="Biblioteca" required class="place form-control col">
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <button type="button" id="addHorary" class="btn btn-info">Agregar horario</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $("#addHorary").click((ev)=>{
        $newHoraryField = $(".horary").last().clone();
        $newHoraryField.children("input.max").attr("value", "1").attr("name", (`horary[${$newHoraryField.data("number")+1}][max]`));
        $newHoraryField.children("input.date").attr("value", "").attr("name", (`horary[${$newHoraryField.data("number")+1}][date]`));
        $newHoraryField.children("input.time").attr("value", "" ).attr("name", (`horary[${$newHoraryField.data("number")+1}][time]`));
        $newHoraryField.children("input.place").attr("value", "Biblioteca" ).attr("name", (`horary[${$newHoraryField.data("number")+1}][place]`));

        $newHoraryField.attr("data-number", $newHoraryField.data("number")+1);

        $(".horary").last().after($newHoraryField);
    })

</script>